# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/src/js/node_modules
/.pnp
.pnp.js

# testing
/src/js/coverage

# production
/src/js/build

# misc
.vscode
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json
yarn.lock
VSWorkspaceState.json

.vs
.vscode
/.vs
VSWorkspaceState.json
slnx.sqlite

bin/
obj/

packages/
/src/csharp/SellerCloud.GraphQL.Client.sln.DotSettings.user
